<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
  <a class="navbar-brand" style="padding-left:1%;">
    <img src="/logo.png" alt="Asteroide" class="rounded-circle" width="50" height="40">
    ASTEROIDES
    </a>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/api">Asteroides</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">Acerca de Nosotros</a>
        </li>
      </ul>
    </div>
</nav>  
