<div class="about-container">
    <div class="banner">
        <h1> Explorando el Universo de los Ateroides</h1>
        <p> Descubre los misterios de estos cuerpos celestes y su impacto en nuestro sistema solar.</p>
    </div>

    <div class="content">
        <section class="mission">
            <h2>Nuestra Misión</h2>
            <p>
                Proporcionar información actualizada y precisa sobre asterioides cercanos a la Tierra, su trayectoria, tamaño y
                posible impacto, utilizando datos en tiempo real de fuentes oficiales.
            </p>
        </section>

        <section class="data-source">
            <h2>Fuente de Datos</h2>
            <p>
                Utilizamos datos provenientes de agencias espaciales y observatorios astronómicos para ofrecer información confiable
                sobre asterioides y otros objetos cercanos a la Tierra.
            </p>
        </section>

        <section class="technology">
            <h2>Tecnología</h2>
            <p>
                Nuestra plataforma está desarrollada con Angular y consume datos desde APIs espaciales, brindando una experiencia
                interactiva y enriquecida con visualizaciones dinámicas.
            </p>
        </section>
    </div>
</div>
