/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://source.unsplash.com/1600x900/?space,stars') no-repeat center center/cover;
    color: white;
}

.about-container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Banner principal */
.banner {
    background: rgba(0, 36, 125, 0.9);
    padding: 20px;
    border-radius: 10px;
}

.banner h1 {
    font-size: 2.5rem;
    color: #ffffff;
}

.banner p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #d0d6f9;
}

/* Contenido */
.content {
    max-width: 800px;
    margin: 20px auto;
    background: rgba(0, 36, 125, 0.9);
    padding: 20px;
    border-radius: 10px;
}

section {
    background: transparent;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.123);
    transition: transform 0.3s ease-in-out;
    border-top: 5px solid #fc3d21;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    color: #ffffff;
    border-bottom: 3px solid #fc3d21;
    display: inline-block;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
    font-size: 1rem;
}

/* Responsividad */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    
    section {
        width: 90%;
    }
}
