<div class="container">
    <div class="title">
        <h1>Explora el Universo de los Meteoritos</h1>
    </div>

    <p>Descubre información detallada sobre los meteoritos.</p>

    <div class="features">
        <h2>Características Principales</h2>
        <div class="feature-list">
            <div class="feature-item">
                <h3>Datos en tiempo real</h3>
                <p>Obtén información actualizada sobre los meteoritos que cruzan nuestra atmósfera en este momento.</p>
            </div>
            <div class="feature-item">
                <h3>Aproximación cercana</h3>
                <p>Explora el impacto global de meteoritos.</p>
            </div>
            <div class="feature-item">
                <h3>Estadísticas detalladas</h3>
                <p>Consulta estadísticas precisas sobre los meteoritos más importantes y su impacto.</p>
            </div>
            <div class="feature-item">
                <h3>Información de impacto</h3>
                <p>Accede a datos detallados sobre los cráteres de impacto y las características de los meteoritos.</p>
            </div>
        </div>
    </div>

    <div class="cta">
        <button>Explorar más</button>
    </div>

    <div class="gallery">
        <h2>Galería de Imágenes</h2>
        <div class="gallery-images">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiOQ4rLQmb7FZUDvb4nNDodCW7iJOpGxYHfQ&s" alt="Meteorito 1">
            <img src="https://static.nationalgeographicla.com/files/styles/image_3200/public/nationalgeographic548814.jpg?w=1900&h=1368" alt="Meteorito 2">
            <img src="https://starwalk.space/gallery/images/great-comets/1920x1080.jpg" alt="Meteorito 3">
            <img src="https://media.es.wired.com/photos/6578852e605197bf484ebdd0/2:3/w_912,h_1368,c_limit/GettyImages-178161865.jpg" alt="Meteorito 4">
        </div>
    </div>
</div>

<div class="footer">
    <p>&copy; 2025 Meteoritos Explorer. Todos los derechos reservados.</p>
    <p>Datos proporcionados por <a href="https://www.nasa.gov" target="_blank">NASA</a></p>
</div>